* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    margin: 10px;
}
h1 {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 18px;
    color: #c1a5a5;
    margin: 0;
    z-index: 10; /* Ensures it stays above other content */
}

#Stopwatch {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    width: 600px;
}

#display {
    font-size: 48px;
    margin-bottom: 20px;
    color: #333;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
}

button {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    padding: 12px 24px;
    transition: background-color 0.3s ease;
    display: inline-block;
}

button#lap {
    font-size: 20px;
    padding: 10px 14px;
    border-radius: 50%;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004085;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
    max-height: 150px;
    overflow-y: auto;
    border-top: 1px solid #ddd;
}

ul li {
    background-color: #f4f4f4;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

ul li button {
    background-color: transparent;
    border: none;
    color: #ff0000;
    font-size: 18px;
    cursor: pointer;
}

ul li button:hover {
    color: #cc0000;
}

ul li button:active {
    color: #990000;
}

/* Add media queries to handle smaller screen sizes */
@media (max-width: 768px) {
    #Stopwatch {
        width: 90%;
        padding: 20px;
    }

    button {
        font-size: 14px;
        padding: 8px 18px;
    }

    #display {
        font-size: 36px;
        padding: 8px;
    }
}
